<!DOCTYPE html>
<html lang="en">
    <!--
    Logo and photo of dogs and cats are from Pinterest
    -->
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Strawberri Paws Dog Caring Tips</title>
        <link rel="stylesheet" href="/css/base.css">
        <link rel="stylesheet" href="/css/dogcarepage.css">
        <script src="/js/base.js"></script>
    </head>
    <body>
        <div class="datetime" id="datetime"> 

        </div>
        <%- include('layouts/header') %>

        <h1>The Responsible Dog Owner's Checklist for Taking Care of a Dog</h1>
        <main>
            <div class="image-container">
                <img src="/images/dogs.jpeg" alt="Dogs" height="300">
            </div>
            <section class="care-section">
                <ol>
                    <li>
                        <h2>Provide a Protected and Clean Living Environment for Your Dog</h2>
                        <p>Shelter from the elements and hazards, as well as good hygiene, are basic to a quality life.</p>
                    </li>
                    <li>
                        <h2>Always Keep Fresh Water Available</h2>
                        <p>Maintaining optimal hydration is important for health and energy.</p>
                    </li>
                    <li>
                        <h2>Feed a Quality Diet and Prevent Obesity</h2>
                        <p>Overweight humans and animals can adversely affect health in many ways. Follow the dietary recommendations that your veterinarian will make according to the nutritional needs of your dog, based on size, age, level of activity, and breed. Remember to provide healthy treats rather than table scraps, as rewards.</p>
                    </li>
                    <li>
                        <h2>Have Your Pet Examined by a Veterinarian on a Regular Basis</h2>
                        <p>Your veterinarian will provide you with the information on vaccination schedules, deworming, and external parasite control. Keep a copy of your pet’s vaccination records in your home or with you when you travel. Contact your veterinarian if you believe that your pet may be ill, injured, or if something just doesn’t seem right. Your veterinarian is the expert on keeping your dog healthy. Work as a team with him or her.</p>
                    </li>
                    <li>
                        <h2>Provide Ample Opportunities to Exercise</h2>
                        <p>Make sure your dog gets the regular exercise needed to enable it to be fit. By being in shape, your dog will be more capable of participating in the activities that it enjoys.</p>
                    </li>
                    <li>
                        <h2>Communicate with Your Dog and Develop a Relationship</h2>
                        <p>Dogs are social creatures and they need to interact with their owner. Quality time will help you get to know your dog and understand particular needs that it might have, as well enhance your ability to recognize early signs of an illness that could be developing. In addition, time spent in developing a relationship will help prevent many undesirable behavioral patterns.</p>
                    </li>
                    <li>
                        <h2>Train Your Dog to Follow the Simple Commands</h2>
                        <p>Puppy and dog training classes can be very helpful. The better your dog is at following basic and necessary commands, the greater the chances are that your dog will live a safe and long life.</p>
                    </li>
                    <li>
                        <h2>Practice Reproductive Control</h2>
                        <p>If you do not intend to create puppies, spaying or neutering is a certain option. If you plan to breed your dog or are opposed to spaying and neutering for other reasons, take appropriate measures to prevent mismatings. Consult with your veterinarian in regard to other options that are available.</p>
                    </li>
                    <li>
                        <h2>Dental Care Is Very Important</h2>
                        <p>Many breeds are prone to gum disease, which can have serious implications. Infection resulting from this condition leads to premature tooth loss, and can commonly cause infections in major organs, including the heart valves.</p>
                    </li>
                    <li>
                        <h2>Don’t Overlook Grooming and Nail Trimming</h2>
                        <p>Long coated dogs are prone to developing matts and ice balls in their hair. Overgrown nails are common in elderly dogs and can make it more difficult for them to walk. In addition, such nails are much more prone to breaking, which can be quite painful.</p>
                    </li>
                </ol>

                <p>In conclusion, knowledge is power. Read up and learn as much as possible about your dog’s breed specifically, and about raising, training, and living with dogs in general. The more you know, the more confident you’ll be in providing a safe and enjoyable home for your dog.</p>

                <p style="color: red; font-size: 14px;">credit: <a href="https://iditarod.com/edu/ten-tips-for-dog-care/" target="_blank">Dog Care</a></p>
            </section>
        </main>

        <section class="extra-caring">
            <h3>Here Are Useful Links For Specific Cares For Your Dog</h3>
            <ul>
                <li><a href="/grooming_dog">How to Groom Your Dog</a></li>
                <li><a href="/choosing_food">How to Choose the Right Food for Your Dog</a></li>
                <li><a href="/training_tips">Dog Training Tips</a></li>
                <li><a href="/health_check">Health Check and Vaccination Guide</a></li>
            </ul>
        </section>

        <%- include('layouts/footer') %>
    </body>
</html>
