<!DOCTYPE html>
<html lang="en">
    <!--
    Logo and photo of dogs and cats are from Pinterest
    -->
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Strawberri Paws Events</title>
        <link rel="stylesheet" href="/css/base.css">
        <link rel="stylesheet" href="/css/eventpage.css">
        <script src="/js/base.js"></script>
    </head>
    <body>
        <div class="datetime" id="datetime"> 

        </div>
        <%- include('layouts/header') %>

        <h1>Welcome To Strawberri Paws Events</h1>
        <p class = "description"> Welcome to Strawberri Paws Events! We are thrilled to invite you and your beloved pets to join our exciting and heartwarming gatherings. 
            Our events are designed to create joyous moments and lasting memories for you and your furry friends. 
            From our Monthly Summer Picnic to the weekly swimming classes, every event is a chance for your pets to socialize, play, and have fun. 
            We also have special adoption events and themed parties, like our Party Animals celebration, where your pets can meet new friends and find their forever homes.</p>
        
        <section class="events-section">
            <div class="upcoming-events">
                <h2>Upcoming Events</h2>

                <div class="event">
                    <img src="../images/dogandcatpicnic.jpeg" alt="Monthly Summer Picnic">
                    <div class="event-info">
                        <h3>Monthly Summer Picnic</h3>
                        <p class = "description">Date: July 20th, 2024</p>
                        <p class = "description">Time: 12:00 PM - 4:00 PM</p>
                        <p class = "description">Location: Central Park</p>
                        <p class = "description">Price: Free</p>
                    </div>
                </div>

                <div class="event">
                    <img src="../images/dogandcatspa.jpeg" alt="Paws Spa Day">
                    <div class="event-info">
                        <h3>Paws Spa Day</h3>
                        <p class = "description">Date: August 30th, 2024</p>
                        <p class = "description">Time: 9:00 AM - 5:00 PM</p>
                        <p class = "description">Location: Strawberri Paws Spa</p>
                        <p class = "description">Price: $140 per session</p>
                    </div>
                </div>

                <div class="event">
                    <img src="../images/dogandcatswimming.jpeg" alt="Weekly Swimming Class">
                    <div class="event-info">
                        <h3>Weekly Swimming Class</h3>
                        <p class = "description">Date: Every Wednesday</p>
                        <p class = "description">Time: 9:00 AM - 10:00 AM</p>
                        <p class = "description">Location: Teddy Community Pool</p>
                        <p class = "description">Price: $10 per session</p>
                    </div>
                </div>

            </div>
        </section>

        <section class="events-section">
            <div class="past-events">
                <h2>Past Events</h2>

                <div class="event">
                    <img src="../images/dogtherapy.jpeg" alt="Dog Therapy">
                    <div class="event-info">
                        <h3>Dogs Therapy</h3>
                        <p class = "description">Date: February 14th, 2024</p>
                        <p class = "description">Location: Community Hospital</p>
                    </div>
                </div>

                <div class="event">
                    <img src="../images/strawberrichristmas.jpg" alt="Christmas Party">
                    <div class="event-info">
                        <h3>Christmas Party</h3>
                        <p class = "description">Date: December 25th, 2023</p>
                        <p class = "description">Location: Strawberri Paws Center</p>
                        <p class = "description">Price: Free for members, $8 for non-members</p>
                    </div>
                </div>

                <div class="event">
                    <img src="../images/strawberrihalloween.avif" alt="Halloween Dress-Up">
                    <div class="event-info">
                        <h3>Halloween Dress-Up</h3>
                        <p class = "description">Date: October 31th, 2023</p>
                        <p class = "description">Location: Grabriellery Park</p>
                        <p class = "description">Price: Costume contest entry fee $15</p>
                    </div>
                </div>
            </div>
        </section>

        <p class = "description">
            To register for any upcoming event, please contact us. 
            We aim to provide a personalized experience for everyone who joins us, ensuring each pet and owner feels welcomed and valued.
        </p>

        <%- include('layouts/footer') %>
    </body>
</html>
